---
- name: Check if solarwinds_token is set
  fail:
    msg: "solarwinds_token variable cannot be empty"
  when: solarwinds_token | length  == 0

- name: Check if solarwinds_token is set
  fail:
    msg: "swisnap_win_installer_download_path variable cannot be empty"
  when:
    - swisnap_win_installer_download_path | length  == 0
    - ansible_os_family == "Windows"
