---
# log_level for the Snap daemon. Supported values are
# trace, debug, info, warning, error, fatal, panic
# Default value is warning
log_level: {{ log_level }}
log_path: {{ log_path }}
log_format: text

control:
  # Configuration auto_discover_path sets the directory(s) to auto load plugins and tasks on
  # the start of the snap daemon. This can be a colon separated list of directories.
  auto_discover_path: /opt/SolarWinds/Snap/autoload

  # Configuration plugin_trust_level sets the plugin trust level for swisnapd. The default state
  # for plugin trust level is enabled (1). When enabled, only signed plugins that can
  # be verified will be loaded into swisnapd. Signatures are verified from
  # keyring files specified in keyring_path. Plugin trust can be disabled (0) which
  # will allow loading of all plugins whether signed or not. The warning state allows
  # for loading of signed and unsigned plugins. Warning messages will be displayed if
  # an unsigned plugin is loaded. Any signed plugins that cannot be verified will
  # not be loaded. Valid values are 0 - Off, 1 - Enabled, 2 - Warning
  plugin_trust_level: 0

  # Secure plugin communication optional parameters:
  # solarwinds user should have read access to all certificates and keys.
  # tls_cert_path sets the TLS certificate path to enable secure plugin communication
  # and authenticate itself to plugins. Requires also: tls_key_path.
  #tls_cert_path: /tmp/snaptest-cli.crt
  # tls_key_path sets the TLS key path to enable secure plugin communication and
  # authenticate itself to plugins. Requires also: tls_cert_path.
  #tls_key_path: /tmp/snaptest-cli.key
  # plugin_tls_cert_path is the path to plugin certificate file used during autoload
  #plugin_tls_cert_path: /tmp/snaptest-srv.crt
  # plugin_tls_key_path is the path to plugin certificate's key file used during autoload
  #plugin_tls_key_path: /tmp/snaptest-srv.key
  # ca_cert_paths sets the list of filesystem paths (files/directories) to CA certificates
  # for use in validating
  #ca_cert_paths: /tmp/small-setup-ca.crt:/tmp/medium-setup-ca.crt:/tmp/ca-certs/

  # Configuration plugin_load_timeout sets the maximal time allowed for a plugin to load.
  # Some plugins may require more time to initialize.
  # Default value is 5
  plugin_load_timeout: 15

  # The bind address and port the agent uses to control and receive data from plugins.
  # The default address is 127.0.0.1 and the default port is 21414.
  listen_addr: "{{ listen_addr }}"
  listen_port: {{ listen_port }}

  # Configuration temp_dir_path sets the temporary directory which houses the temporary files
  temp_dir_path: {{ temp_dir_path }}

  # temp_dir_enable sets whether the application startup leverage the `temp_path_dir` to start
  # plugins. The use of the temporary location is considered legacy functionality, so
  # set this boolean to `true` if you'd like to use it
  temp_dir_enable: {{ temp_dir_enable }}

  # Search path for load: directives in plugin configuration
  plugin_path: {{ plugin_path }}
  task_path: {{ task_path }}

  # Plugins section contains plugin config settings that will be applied for plugins across tasks.
  plugins:
    include: /opt/SolarWinds/Snap/etc/plugins.d
    publisher:
      publisher-appoptics:
        all:
          token: "{{ appoptics_token }}"
          url: "https://api.appoptics.com/v1/measurements"
          # Set this option if you want a different "host" tag to be associated with the metrics you report.
          {% if hostname_alias is defined %}
          hostname_alias: {{ hostname_alias }}
          {% else %}
          # hostname_alias: myhostname
          {% endif %}
          #
          # Enable support for HTTP proxy.
          {% if http_proxy %}
          proxy_url: {{ http_proxy_url }}
            {% if authenticate_http_proxy %}
          proxy_user: {{ http_proxy_user }}
          proxy_password: {{ http_proxy_password }}
            {% endif %}
          {% else %}
          # proxy_url: "http://<proxy-server-ip>:<port>"
          # When HTTP proxy requires user authentication, uncomment the following lines and update username and password.
          # proxy_user:<username>
          # proxy_password:<password>
          {% endif %}
          #
          # Enable support for SOCKS5 proxy. Only SOCKS5 proxies are supported at this time.
          {% if socks_proxy %}
          proxy_url: {{ socks_proxy_url }}
            {% if authenticate_socks_proxy %}
          proxy_user: {{ socks_proxy_user }}
          proxy_password: {{ socks_proxy_password }}
            {% endif %}
          {% else %}
          # When SOCKS5 proxy requires user authentication, uncomment the following lines and update username and password.
          # proxy_url: "socks5://<proxy-server-ip>:<port>"
          # proxy_user:<username>
          # proxy_password:<password>
          {% endif %}
          # ec2_check_timeout allows to configure timeout for querying EC2 instance metadata URL to determine if host agent
          # is running on EC2 (or OpenStack) instance. By default it is set to 1s.
          # ec2_check_timeout: "1s"

      publisher-processes:
        all:
          token: "{{ appoptics_token }}"
          url: "https://api.appoptics.com/v1/agent/report"

  # Tags that will be applied to collected metrics across tasks.
  tags:
   # tags all metrics
   # /:
   #   environment: production
   # tags a specific metric namespace
   # /nginx:
   #   site: mysite.com

restapi:
  # enable controls enabling or disabling the REST API for swisnapd. Default value is enabled.
  enable: true

  # https enables HTTPS for the REST API. If no default certificate and key are provided, then
  # the REST API will generate a private and public key to use for communication. Default
  # value is false
  # https: false

  # rest_auth enables authentication for the REST API. Default value is false
  # rest_auth: false

  # rest_auth_password sets the password to use for the REST API. Currently user and password
  # combinations are not supported.
  # rest_auth_password: API_PASSWORD

  # rest_certificate is the path to the certificate to use for REST API when HTTPS is also enabled.
  # When https is set to true and rest_certificate and rest_key are not present swisnap is creating cert and key
  # under paths: /tmp/cert.pem and /tmp/key.pem
  # rest_certificate: REST_CERTIFICATE

  # rest_key is the path to the private key for the certificate in use by the REST API
  # when HTTPs is enabled.
  # rest_key: REST_KEY

  # port sets the port to start the REST API server on. Default is 21413
  # port: 21413
