#jinja2: lstrip_blocks: True
---
log_level: {{ swisnap_log_level }}
log_path: {{ swisnap_log_path }}
{% if swisnap_log_format is defined and swisnap_log_format|length %}
log_format: {{ swisnap_log_format }}
{% endif %}

control:
  auto_discover_path: {{ swisnap_auto_discover_path }}
  tasks_autoload_path: {{ swisnap_tasks_autoload_path }}
  plugin_path: {{ swisnap_plugin_path }}
  task_path: {{ swisnap_task_path }}
  {% if swisnap_plugin_trust_level is defined and swisnap_plugin_trust_level|length %}
  plugin_trust_level: {{ swisnap_plugin_trust_level }}
  {% endif %}
  {% if swisnap_plugin_trust_level is defined and swisnap_plugin_trust_level|length %}
  keyring_paths: {{ swisnap_keyring_paths }}
  {% endif %}
  {% if swisnap_tls_cert_path is defined and swisnap_tls_cert_path|length
     and swisnap_tls_key_path is defined and swisnap_tls_key_path|length %}
  tls_cert_path: {{ swisnap_tls_cert_path }}
  tls_key_path: {{ swisnap_tls_key_path }}
  {% endif %}
  {% if swisnap_plugin_tls_cert_path is defined and swisnap_plugin_tls_cert_path|length
     and swisnap_plugin_tls_key_path is defined and swisnap_plugin_tls_key_path|length %}
  plugin_tls_cert_path: {{ swisnap_plugin_tls_cert_path }}
  plugin_tls_key_path: {{ swisnap_plugin_tls_key_path }}
  {% endif %}
  {% if swisnap_ca_cert_paths is defined and swisnap_ca_cert_paths|length %}
  ca_cert_paths: {{ swisnap_ca_cert_paths }}
  {% endif %}
  {% if swisnap_plugin_load_timeout is defined and swisnap_plugin_load_timeout|length %}
  plugin_load_timeout: {{ swisnap_plugin_load_timeout }}
  {% endif %}

  plugins:
    include: {{ swisnap_plugins_config }}
  {% if swisnap_global_tags is defined and swisnap_global_tags | length %}
  tags:
    /:
  {% for key, value in swisnap_global_tags.items() %}
      {{ key }}: {{ value }}
  {% endfor %}
  {% endif %}

restapi:
  enable: {{ swisnap_restapi_enable }}

  {%- if swisnap_restapi_https is defined and swisnap_restapi_https|length %}
  https: {{ swisnap_restapi_https }}
  {% endif %}

  {%- if swisnap_restapi_rest_auth is defined and swisnap_restapi_rest_auth|length %}
  rest_auth: {{ swisnap_restapi_rest_auth }}
  {% endif %}

  {%- if swisnap_restapi_rest_auth_password is defined and swisnap_restapi_rest_auth_password|length %}
  rest_auth_password: {{ swisnap_restapi_rest_auth_password }}
  {% endif %}

  {%- if swisnap_restapi_rest_certificate is defined and swisnap_restapi_rest_certificate|length %}
  rest_certificate: {{ swisnap_restapi_rest_certificate }}
  {% endif %}

  {%- if swisnap_restapi_rest_key is defined and swisnap_restapi_rest_key|length %}
  rest_key: {{ swisnap_restapi_rest_key }}
  {% endif %}

  {%- if swisnap_restapi_port is defined and swisnap_restapi_port|length %}
  port: {{ swisnap_restapi_port }}
  {% endif %}

  {%- if swisnap_restapi_addr is defined and swisnap_restapi_addr|length %}
  addr: {{ swisnap_restapi_addr }}
  {% endif %}

  {%- if swisnap_restapi_plugin_load_timeout is defined and swisnap_restapi_plugin_load_timeout|length %}
  plugin_load_timeout: {{ swisnap_restapi_plugin_load_timeout }}
  {% endif %}
